{% extends 'base.html' %}

{% block content %}
    <!-- navi wrapper End -->
    <!-- inner Title Start -->
    <div class="indx_title_main_wrapper float_left">
        <div class="title_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 full_width">
                    <div class="indx_title_left_wrapper">
                        <h2>shop </h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 full_width">
                    <div class="indx_title_right_wrapper">
                        <ul>
                            <li><a href="index.html">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                            <li>shop fullwidth</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- inner Title End -->
    <!-- shop sidebar start -->
    <div class="news_wrapper float_left">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row">

                        <div class="sidebar_shop_right float_left">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="sidebar_widget">
                                    <!-- <div class="sc_shop_add">
                                        <a href="#"><img src="images/inner/banner_shop.jpg" class="img-responsive" alt="shop_img" /></a>
                                    </div> -->
                                </div>
                                <div class="sidebar_widget">
                                    <div class="filter-area float_left">
                                        <div class="showpro">
                                            <p><span>Showing 1-10</span> of 256 Results</p>
                                        </div>
                                        <select>
                                            <option>short by</option>
                                            <option>T-shirt</option>
                                            <option>sport shoes</option>
                                            <option>hand gluf</option>
                                        </select>

                                        <div class="list-grid">
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab" href="#grid"> <i class="fa fa-th-large"></i></a>
                                                </li>
                                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#list"><i class="fa fa-list"></i></a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <div class="tab-content btc_shop_index_content_tabs_main float_left">
                                    <div id="grid" class="tab-pane active">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="btc_shop_indx_cont_box_wrapper">
                                                    <div class="btc_shop_indx_img_wrapper">
                                                        <ul>
                                                            <li class="btc_shop_price">new</li>
                                                        </ul>
                                                        <img src="images/inner/on1.png" alt="shop_img" class="img-responsive" />
                                                        <div class="cc_li_img_overlay">
                                                            <div class="cc_li_img_text">
                                                                <ul>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-shopping-cart"></i>
                                                                            <span class="tooltiptext">Shopping cart</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-external-link"></i>
                                                                            <span class="tooltiptext">Quick View </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-heart"></i>
                                                                            <span class="tooltiptext"> Wishlist</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-expand"></i>
                                                                            <span class="tooltiptext"> Compare</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="btc_shop_indx_img_cont_wrapper">

                                                        <div class="product_title">
                                                            <h1><a href="#">hooded racket</a></h1>
                                                            <h3>elite brand</h3>
                                                        </div>
                                                        <div class="product_price">
                                                            <p>$140.00 <del>150.00</del></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="btc_shop_indx_cont_box_wrapper">
                                                    <div class="btc_shop_indx_img_wrapper">
                                                        <ul>
                                                            <li class="btc_shop_price">hot</li>
                                                        </ul>
                                                        <img src="images/inner/on2.png" alt="shop_img" class="img-responsive" />
                                                        <div class="cc_li_img_overlay">
                                                            <div class="cc_li_img_text">
                                                                <ul>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-shopping-cart"></i>
                                                                            <span class="tooltiptext">Shopping cart</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-external-link"></i>
                                                                            <span class="tooltiptext">Quick View </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-heart"></i>
                                                                            <span class="tooltiptext"> Wishlist</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-expand"></i>
                                                                            <span class="tooltiptext"> Compare</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="btc_shop_indx_img_cont_wrapper">
                                                        <div class="product_title">
                                                            <h1><a href="#">sunshine in my soul</a></h1>
                                                            <h3>Women's wear</h3>
                                                        </div>
                                                        <div class="product_price">
                                                            <p>$150.00 <del>190.00</del></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="btc_shop_indx_cont_box_wrapper">
                                                    <div class="btc_shop_indx_img_wrapper">

                                                        <img src="images/inner/on3.png" alt="shop_img" class="img-responsive" />
                                                        <div class="cc_li_img_overlay">
                                                            <div class="cc_li_img_text">
                                                                <ul>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-shopping-cart"></i>
                                                                            <span class="tooltiptext">Shopping cart</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-external-link"></i>
                                                                            <span class="tooltiptext">Quick View </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-heart"></i>
                                                                            <span class="tooltiptext"> Wishlist</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-expand"></i>
                                                                            <span class="tooltiptext"> Compare</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="btc_shop_indx_img_cont_wrapper">

                                                        <div class="product_title">
                                                            <h1><a href="#">adidas shoes</a></h1>
                                                            <h3>men's wear</h3>
                                                        </div>
                                                        <div class="product_price">
                                                            <p>$110.00 <del>120.00</del></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="btc_shop_indx_cont_box_wrapper">
                                                    <div class="btc_shop_indx_img_wrapper">
                                                        <ul>
                                                            <li class="btc_shop_price">hot</li>
                                                        </ul>
                                                        <img src="images/inner/on4.png" alt="shop_img" class="img-responsive" />
                                                        <div class="cc_li_img_overlay">
                                                            <div class="cc_li_img_text">
                                                                <ul>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-shopping-cart"></i>
                                                                            <span class="tooltiptext">Shopping cart</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-external-link"></i>
                                                                            <span class="tooltiptext">Quick View </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-heart"></i>
                                                                            <span class="tooltiptext"> Wishlist</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-expand"></i>
                                                                            <span class="tooltiptext"> Compare</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="btc_shop_indx_img_cont_wrapper">

                                                        <div class="product_title">
                                                            <h1><a href="#">Hooded jacket</a></h1>
                                                            <h3>Women's wear</h3>
                                                        </div>
                                                        <div class="product_price">
                                                            <p>$40.00 <del>50.00</del></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="btc_shop_indx_cont_box_wrapper">
                                                    <div class="btc_shop_indx_img_wrapper">
                                                        <ul>
                                                            <li class="btc_shop_price">new</li>
                                                        </ul>
                                                        <img src="images/inner/on5.png" alt="shop_img" class="img-responsive" />
                                                        <div class="cc_li_img_overlay">
                                                            <div class="cc_li_img_text">
                                                                <ul>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-shopping-cart"></i>
                                                                            <span class="tooltiptext">Shopping cart</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-external-link"></i>
                                                                            <span class="tooltiptext">Quick View </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-heart"></i>
                                                                            <span class="tooltiptext"> Wishlist</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-expand"></i>
                                                                            <span class="tooltiptext"> Compare</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="btc_shop_indx_img_cont_wrapper">

                                                        <div class="product_title">
                                                            <h1><a href="#">Hooded Racket</a></h1>
                                                            <h3>racket_elite</h3>
                                                        </div>
                                                        <div class="product_price">
                                                            <p>$120.00 <del>130.00</del></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="btc_shop_indx_cont_box_wrapper">
                                                    <div class="btc_shop_indx_img_wrapper">
                                                        <ul>
                                                            <li class="btc_shop_price btc_stock">Sold</li>
                                                        </ul>
                                                        <img src="images/inner/on6.png" alt="shop_img" class="img-responsive" />
                                                        <div class="cc_li_img_overlay">
                                                            <div class="cc_li_img_text">
                                                                <ul>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-shopping-cart"></i>
                                                                            <span class="tooltiptext">Shopping cart</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-external-link"></i>
                                                                            <span class="tooltiptext">Quick View </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-heart"></i>
                                                                            <span class="tooltiptext"> Wishlist</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-expand"></i>
                                                                            <span class="tooltiptext"> Compare</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="btc_shop_indx_img_cont_wrapper">

                                                        <div class="product_title">
                                                            <h1><a href="#">
Hooded Jacket</a></h1>
                                                            <h3>Adidas brand</h3>
                                                        </div>
                                                        <div class="product_price">
                                                            <p>$140.00 <del>180.00</del></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="btc_shop_indx_cont_box_wrapper">
                                                    <div class="btc_shop_indx_img_wrapper">

                                                        <img src="images/inner/on7.png" alt="shop_img" class="img-responsive" />
                                                        <div class="cc_li_img_overlay">
                                                            <div class="cc_li_img_text">
                                                                <ul>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-shopping-cart"></i>
                                                                            <span class="tooltiptext">Shopping cart</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-external-link"></i>
                                                                            <span class="tooltiptext">Quick View </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-heart"></i>
                                                                            <span class="tooltiptext"> Wishlist</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-expand"></i>
                                                                            <span class="tooltiptext"> Compare</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="btc_shop_indx_img_cont_wrapper">

                                                        <div class="product_title">
                                                            <h1><a href="#">Women's A-Line</a></h1>
                                                            <h3>Women's wear</h3>
                                                        </div>
                                                        <div class="product_price">
                                                            <p>$120.00 <del>150.00</del></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="btc_shop_indx_cont_box_wrapper">
                                                    <div class="btc_shop_indx_img_wrapper">
                                                        <ul>
                                                            <li class="btc_shop_price btc_stock">Sold</li>
                                                        </ul>
                                                        <img src="images/inner/on8.png" alt="shop_img" class="img-responsive" />
                                                        <div class="cc_li_img_overlay">
                                                            <div class="cc_li_img_text">
                                                                <ul>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-shopping-cart"></i>
                                                                            <span class="tooltiptext">Shopping cart</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-external-link"></i>
                                                                            <span class="tooltiptext">Quick View </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-heart"></i>
                                                                            <span class="tooltiptext"> Wishlist</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-expand"></i>
                                                                            <span class="tooltiptext"> Compare</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="btc_shop_indx_img_cont_wrapper">

                                                        <div class="product_title">
                                                            <h1><a href="#">barnded shoes</a></h1>
                                                            <h3>men's wear</h3>
                                                        </div>
                                                        <div class="product_price">
                                                            <p>$140.00 <del>155.00</del></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="btc_shop_indx_cont_box_wrapper">
                                                    <div class="btc_shop_indx_img_wrapper">

                                                        <img src="images/inner/on9.png" alt="shop_img" class="img-responsive" />
                                                        <div class="cc_li_img_overlay">
                                                            <div class="cc_li_img_text">
                                                                <ul>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-shopping-cart"></i>
                                                                            <span class="tooltiptext">Shopping cart</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-external-link"></i>
                                                                            <span class="tooltiptext">Quick View </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-heart"></i>
                                                                            <span class="tooltiptext"> Wishlist</span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-expand"></i>
                                                                            <span class="tooltiptext"> Compare</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="btc_shop_indx_img_cont_wrapper">

                                                        <div class="product_title">
                                                            <h1><a href="#">Hooded Shoes</a></h1>
                                                            <h3>adidas </h3>
                                                        </div>
                                                        <div class="product_price">
                                                            <p>$141.00 <del>153.00</del></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="list" class="tab-pane fade">
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="btc_shop_indx_cont_list_box_wrapper shop_fullwidth_list_wrapper">
                                                    <div class="btc_shop_list_img_wrapper">
                                                        <ul>
                                                            <li class="btc_shop_price">new</li>
                                                        </ul>
                                                        <img src="images/inner/on1.png" alt="shop_img" class="img-responsive" />
                                                    </div>
                                                    <div class="btc_shop_list_img_cont_wrapper shop_right_list">

                                                        <h1><a href="#">hooded racket</a></h1>
                                                        <p>$140.00 <del>150.00</del></p>
                                                        <p class="shop_para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sedn ullamco adipisicing elit.</p>
                                                        <div class="btc_shop_list_bottom_social_wrapper ">
                                                            <ul>
                                                                <li class="shop_list_first_btn"><a href="#"><i class="fa fa-heart"></i>wishlist</a></li>
                                                                <li><a href="#"><i class="fa fa-shopping-cart"></i>add to cart</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="btc_shop_indx_cont_list_box_wrapper shop_fullwidth_list_wrapper">
                                                    <div class="btc_shop_list_img_wrapper">
                                                        <ul>
                                                            <li class="btc_shop_price">new</li>
                                                        </ul>
                                                        <img src="images/inner/on2.png" alt="shop_img" class="img-responsive" />
                                                    </div>
                                                    <div class="btc_shop_list_img_cont_wrapper shop_right_list">

                                                        <h1><a href="#">SUNSHINE IN MY SOUL</a></h1>
                                                        <p>$150.00 <del>190.00</del></p>
                                                        <p class="shop_para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sedn ullamco adipisicing elit.</p>

                                                        <div class="btc_shop_list_bottom_social_wrapper ">
                                                            <ul>
                                                                <li class="shop_list_first_btn"><a href="#"><i class="fa fa-heart"></i>wishlist</a></li>
                                                                <li><a href="#"><i class="fa fa-shopping-cart"></i>add to cart</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-12">
                                                <div class="btc_shop_indx_cont_list_box_wrapper shop_fullwidth_list_wrapper">
                                                    <div class="btc_shop_list_img_wrapper">
                                                        <ul>
                                                            <li class="btc_shop_price btc_stock">Sold</li>
                                                        </ul>
                                                        <img src="images/inner/on3.png" alt="shop_img" class="img-responsive" />
                                                    </div>
                                                    <div class="btc_shop_list_img_cont_wrapper shop_right_list">

                                                        <h1><a href="#">
Hooded Jacket</a></h1>
                                                        <p>$120.00 <del>130.00</del></p>
                                                        <p class="shop_para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sedn ullamco adipisicing elit.</p>

                                                        <div class="btc_shop_list_bottom_social_wrapper ">
                                                            <ul>
                                                                <li class="shop_list_first_btn"><a href="#"><i class="fa fa-heart"></i>wishlist</a></li>
                                                                <li><a href="#"><i class="fa fa-shopping-cart"></i>add to cart</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="btc_shop_indx_cont_list_box_wrapper shop_fullwidth_list_wrapper">
                                                    <div class="btc_shop_list_img_wrapper">
                                                        <ul>
                                                            <li class="btc_shop_price">new</li>
                                                        </ul>
                                                        <img src="images/inner/on4.png" alt="shop_img" class="img-responsive" />
                                                    </div>
                                                    <div class="btc_shop_list_img_cont_wrapper shop_right_list">

                                                        <h1><a href="#">barnded shoes</a></h1>

                                                        <p>$110.00 <del>120.00</del></p>
                                                        <p class="shop_para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sedn ullamco adipisicing elit.</p>

                                                        <div class="btc_shop_list_bottom_social_wrapper ">
                                                            <ul>
                                                                <li class="shop_list_first_btn"><a href="#"><i class="fa fa-heart"></i>wishlist</a></li>
                                                                <li><a href="#"><i class="fa fa-shopping-cart"></i>add to cart</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="btc_shop_indx_cont_list_box_wrapper shop_fullwidth_list_wrapper">
                                                    <div class="btc_shop_list_img_wrapper">

                                                        <img src="images/inner/on5.png" alt="shop_img" class="img-responsive" />
                                                    </div>
                                                    <div class="btc_shop_list_img_cont_wrapper shop_right_list">

                                                        <h1><a href="#">AMAZING SUMMER</a></h1>
                                                        <p>$110.00 <del>120.00</del></p>
                                                        <p class="shop_para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sedn ullamco adipisicing elit.</p>

                                                        <div class="btc_shop_list_bottom_social_wrapper ">
                                                            <ul>
                                                                <li class="shop_list_first_btn"><a href="#"><i class="fa fa-heart"></i>wishlist</a></li>
                                                                <li><a href="#"><i class="fa fa-shopping-cart"></i>add to cart</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="btc_shop_indx_cont_list_box_wrapper shop_fullwidth_list_wrapper">
                                                    <div class="btc_shop_list_img_wrapper">
                                                        <ul>
                                                            <li class="btc_shop_price btc_stock">Sold</li>
                                                        </ul>
                                                        <img src="images/inner/on6.png" alt="shop_img" class="img-responsive" />
                                                    </div>
                                                    <div class="btc_shop_list_img_cont_wrapper shop_right_list">

                                                        <h1><a href="#">CREPE FROCK</a></h1>
                                                        <p>$115.00 <del>127.00</del></p>
                                                        <p class="shop_para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sedn ullamco adipisicing elit.</p>

                                                        <div class="btc_shop_list_bottom_social_wrapper ">
                                                            <ul>
                                                                <li class="shop_list_first_btn"><a href="#"><i class="fa fa-heart"></i>wishlist</a></li>
                                                                <li><a href="#"><i class="fa fa-shopping-cart"></i>add to cart</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="btc_shop_indx_cont_list_box_wrapper shop_fullwidth_list_wrapper">
                                                    <div class="btc_shop_list_img_wrapper">

                                                        <img src="images/inner/on7.png" alt="shop_img" class="img-responsive" />
                                                    </div>
                                                    <div class="btc_shop_list_img_cont_wrapper shop_right_list">

                                                        <h1><a href="#">WOMEN'S A-LINE</a></h1>
                                                        <p>$110.00 <del>120.00</del></p>
                                                        <p class="shop_para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sedn ullamco adipisicing elit.</p>

                                                        <div class="btc_shop_list_bottom_social_wrapper ">
                                                            <ul>
                                                                <li class="shop_list_first_btn"><a href="#"><i class="fa fa-heart"></i>wishlist</a></li>
                                                                <li><a href="#"><i class="fa fa-shopping-cart"></i>add to cart</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-12 col-sm-12">

                            <div class="blog_pagination_section">
                                <ul>
                                    <li>
                                        <a href="#" class="prev"> prev</a>
                                    </li>
                                    <li><a href="#">01</a>
                                    </li>
                                    <li><a href="#" class="page_active">02</a>
                                    </li>
                                    <li><a href="#">...</a>
                                    </li>
                                    <li><a href="#">09</a>
                                    </li>
                                    <li><a href="#">10</a>
                                    </li>
                                    <li><a href="#" class="next">next</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- shop sidebar end -->
    <!--patner slider Start -->
    <div class="patner_main_section_wrapper float_left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="pn_slider_wraper">
                        <div class="owl-carousel owl-theme">
                            <!-- <div class="item">
                                <div class="pn_img_wrapper">
                                    <img src="images/inner/logo01.png" alt="patner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="pn_img_wrapper">
                                    <img src="images/inner/logo02.png" alt="patner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="pn_img_wrapper">
                                    <img src="images/inner/logo03.png" alt="patner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="pn_img_wrapper">
                                    <img src="images/inner/logo04.png" alt="patner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="pn_img_wrapper">
                                    <img src="images/inner/logo05.png" alt="patner_img">
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- prs patner slider End -->

    <!-- footer Wrapper start -->
 {% endblock %}