<div class="footer_wrapper float_left">
    <!--newsletter wrapper start-->

    <div class="news_section">
        <div class="container">

            <div class="news_letter_wrapper float_left">

                <div class="lr_nl_heading_wrapper">
                    <h2>subscribe Our Newsletter</h2>
                    <p>Receive 15% Discount From Your First Order.</p>
                </div>

                <div class="lr_nl_form_wrapper">
                    <input type="text" placeholder="Enter Your Email">
                    <button type="submit">Subscribe</button>
                </div>

            </div>
        </div>
    </div>

    <!--newsletter wrapper end-->
    <!-- section-2 start-->
    <div class="section_2">
        <div class="section2_footer_overlay"></div>
        <div class="section2_footer_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-xs-12 col-sm-6">
                        <div class="footer_widget section2_about_wrapper">
                            <div class="wrapper_first_image">
                                <a href="index.html"><img src="" class="img-responsive" alt="" /></a>
                            </div>
                            <div class="abotus_content">
                                <p>We work globally with clients in any sector related to sport- from coaches and players to directors and executives.
                                </p>
                                <p>As a company, we work very hard to support our players’ personal goals and requirements..</p>
                            </div>
                            <a href="#">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12 col-sm-6">
                        <div class="footer_widget section2_blog_wrapper">
                            <h4>portfolio</h4>
                            <div class="ft_blog_wrapper1">
                                <div class="ft_blog_image">
                                    <img src="images/inner/bg1.jpg" class="img-responsive" alt="blog-img1_img" />
                                </div>
                                <div class="ft_blog_text">
                                    <h5><a href="#">The Three Pointer Victory</a></h5>
                                    <div class="ft_blog_date">June 20, 2018</div>
                                </div>
                            </div>
                            <div class="ft_blog_wrapper2">
                                <div class="ft_blog_image">
                                    <img src="images/inner/bg2.jpg" class="img-responsive" alt="blog-img2_img" />
                                </div>
                                <div class="ft_blog_text">
                                    <h5><a href="#">3 minutes and we made it</a></h5>
                                    <div class="ft_blog_date">June 28, 2018</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12 col-sm-6">
                        <div class="footer_widget section2_useful_wrapper">
                            <h4>useful links </h4>
                            <ul>
                                <li><a href="about_us.html"><i class="fa fa-angle-right"></i>About agency</a>
                                </li>
                                <li><a href="about_us.html"><i class="fa fa-angle-right"></i>agency profile</a>
                                </li>
                                <li><a href="our_team.html"><i class="fa fa-angle-right"></i>agency team</a>
                                </li>
                                <li><a href="news.html"><i class="fa fa-angle-right"></i>events</a>
                                </li>
                                <li><a href="news.html"><i class="fa fa-angle-right"></i>organised matches</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12 col-sm-6">
                        <div class="footer_widget section2_useful_second_wrapper">
                            <h4>contact <span> info </span></h4>
                            <ul>
                                <li><i class="fa fa-location-arrow"></i>No 102 Naka Road, Ankpa Quarters Beside
                                </li>
                                <li><i class="fa fa-flag"></i> Muslim Pilgrim Welfare Board Makurdi
                                </li>
                                <li><i class="fa fa-phone-square"></i>+234 906 202 0223
                                </li>
                                <li><a href="#"><i class="fa fa-envelope-square"></i>oyichesportsltd.com</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section2_bottom_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="btm_foter_box">

                            <p><i class="fa fa-copyright"></i> 2019 sporteyz. design by <a href="index.html"> webstrot .</a></p>
                            <ul class="aboutus_social_icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                </li>
                                <li> <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="close_wrapper">
    </div>
    <!-- section-2 end -->
</div>