
    <!-- navi wrapper End -->
    <!-- inner Title Start -->
{% extends 'base.html' %}   
{% load static  %} 
{% block content %}    
    <div class="indx_title_main_wrapper float_left">
        <div class="title_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 full_width">
                    <div class="indx_title_left_wrapper">
                        <h2>About Us</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 full_width">
                    <div class="indx_title_right_wrapper">
                        <ul>
                            <li><a href='{% url "home" %} '>Home</a> &nbsp;&nbsp;&nbsp;> </li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- inner Title End -->
    <!-- inner welcome Wrapper Start -->
    <div class="iner_about_wrapper float_left">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="about_slider_wrapper float_left">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="about_image">
                                    <img src="{% static 'images/inner/abt1.jpg' %}" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="about_image">
                                    <img src="{% static 'images/inner/abt2.jpg' %}" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="about_image">
                                    <img src="{% static 'images/inner/abt3.jpg' %}" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="about_welcome_content float_left">
                        <h1>
				   Welcome to Oyiche Sports Limited</h1>
                        <p>OYICHE SPORTS:Encouraging and Counseling Promising Stars</p>
                        <ul class="welcome_link">
                            <li><a href="#"><i class="fa fa-check-circle"></i>Organises Sports</a>
                            </li>
                            <li><a href="#"><i class="fa fa-check-circle"></i>Promotes Sports</a>
                            </li>
                            <li><a href="#"><i class="fa fa-check-circle"></i>Sponsors Sports</a>
                            </li>
                            <li><a href="#"><i class="fa fa-check-circle"></i>Provide Sports Equipments</a>
                            </li>
                            <li><a href="#"><i class="fa fa-check-circle"></i>Managing Sports Men/Women</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- inner welcome Wrapper end -->
    <!--our history wrapper start-->
    <!-- <div class="our_history_wrapper float_left">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ft_left_heading_wraper gallery_heading_center text-center">
                        <h1>our history</h1>

                    </div>
                </div>
                <div class="col-md-12 pdtpp">
                    <div class="welcome_tab">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#home"> year 1998</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#menu1"> year 2000</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#menu2"> year 2004</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#menu3">  year 2008</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#menu4">  year 2010</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#menu5">  year 2013</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#menu6">  year 2015</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#menu7">  year 2018</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content about_tab_content">
                        <div id="home" class="tab-pane active">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="offer_main_boxes_wrapper float_left">

                                        <div class="ft_offer_img float_left">
                                            <img src="images/inner/history.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <p><span class="commentery_box">Excellent Commentary</span> When I decided to leave Miami Im notgoing to name an a any , Im can’t do a that I do so recognizing that a can in the happen over-night.<span> Excellent Commentary 1998</span> When notgoing to name an a any , Im can’t do a that I do soo recognizing that a can in the happen over-night. <span class="commentery_box">Excellent Commentary </span>When I decided to leave Miami Im notgoing to name an a any in the happen over-night.</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="offer_main_boxes_wrapper float_left">

                                        <div class="ft_offer_img float_left">
                                            <img src="images/inner/history1.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <p><span class="commentery_box">Excellent Commentary</span> When I decided to leave Miami Im notgoing to name an a any , Im can’t do a that I do so recognizing that a can in the happen over-night.<span> Excellent Commentary 1998</span> When notgoing to name an a any , Im can’t do a that I do soo recognizing that a can in the happen over-night. <span class="commentery_box">Excellent Commentary </span>When I decided to leave Miami Im notgoing to name an a any in the happen over-night.</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="offer_main_boxes_wrapper float_left">

                                        <div class="ft_offer_img float_left">
                                            <img src="images/inner/history2.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <p><span class="commentery_box">Excellent Commentary</span> When I decided to leave Miami Im notgoing to name an a any , Im can’t do a that I do so recognizing that a can in the happen over-night.<span> Excellent Commentary 1998</span> When notgoing to name an a any , Im can’t do a that I do soo recognizing that a can in the happen over-night. <span class="commentery_box">Excellent Commentary </span>When I decided to leave Miami Im notgoing to name an a any in the happen over-night.</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="offer_main_boxes_wrapper float_left">

                                        <div class="ft_offer_img float_left">
                                            <img src="images/inner/history3.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <p><span class="commentery_box">Excellent Commentary</span> When I decided to leave Miami Im notgoing to name an a any , Im can’t do a that I do so recognizing that a can in the happen over-night.<span> Excellent Commentary 1998</span> When notgoing to name an a any , Im can’t do a that I do soo recognizing that a can in the happen over-night. <span class="commentery_box">Excellent Commentary </span>When I decided to leave Miami Im notgoing to name an a any in the happen over-night.</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="menu4" class="tab-pane fade">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="offer_main_boxes_wrapper float_left">

                                        <div class="ft_offer_img float_left">
                                            <img src="images/inner/history4.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <p><span class="commentery_box">Excellent Commentary</span> When I decided to leave Miami Im notgoing to name an a any , Im can’t do a that I do so recognizing that a can in the happen over-night.<span> Excellent Commentary 1998</span> When notgoing to name an a any , Im can’t do a that I do soo recognizing that a can in the happen over-night. <span class="commentery_box">Excellent Commentary </span>When I decided to leave Miami Im notgoing to name an a any in the happen over-night.</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="menu5" class="tab-pane fade">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="offer_main_boxes_wrapper float_left">

                                        <div class="ft_offer_img float_left">
                                            <img src="images/inner/history5.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <p><span class="commentery_box">Excellent Commentary</span> When I decided to leave Miami Im notgoing to name an a any , Im can’t do a that I do so recognizing that a can in the happen over-night.<span> Excellent Commentary 1998</span> When notgoing to name an a any , Im can’t do a that I do soo recognizing that a can in the happen over-night. <span class="commentery_box">Excellent Commentary </span>When I decided to leave Miami Im notgoing to name an a any in the happen over-night.</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="menu6" class="tab-pane fade">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="offer_main_boxes_wrapper float_left">

                                        <div class="ft_offer_img float_left">
                                            <img src="images/inner/history6.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <p><span class="commentery_box">Excellent Commentary</span> When I decided to leave Miami Im notgoing to name an a any , Im can’t do a that I do so recognizing that a can in the happen over-night.<span> Excellent Commentary 1998</span> When notgoing to name an a any , Im can’t do a that I do soo recognizing that a can in the happen over-night. <span class="commentery_box">Excellent Commentary </span>When I decided to leave Miami Im notgoing to name an a any in the happen over-night.</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="menu7" class="tab-pane fade">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="offer_main_boxes_wrapper float_left">

                                        <div class="ft_offer_img float_left">
                                            <img src="images/inner/history7.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <p><span class="commentery_box">Excellent Commentary</span> When I decided to leave Miami Im notgoing to name an a any , Im can’t do a that I do so recognizing that a can in the happen over-night.<span> Excellent Commentary 1998</span> When notgoing to name an a any , Im can’t do a that I do soo recognizing that a can in the happen over-night. <span class="commentery_box">Excellent Commentary </span>When I decided to leave Miami Im notgoing to name an a any in the happen over-night.</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--our history wrapper end-->
    <!-- counter wrapper start-->
    <div class="counter_section float_left">
        <div class="dream_overlay"></div>
        <div class="counter-section">
            <div class="container text-center">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="counter_cntnt_box">
                            <div class="tb_icon">
                                <div class="icon"> <a href="#"><i class="fa fa-star-o"></i></a>
                                </div>
                            </div>
                            <div class="count-description"><span class="timer">230</span>+
                                <h5 class="con1"> Matches Played</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="counter_cntnt_box">
                            <div class="tb_icon">
                                <div class="icon"> <a href="#"><i class="fa fa-futbol-o"></i></a>
                                </div>
                            </div>
                            <div class="count-description"> <span class="timer">89</span>+
                                <h5 class="con2">Touchdowns</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="counter_cntnt_box">
                            <div class="tb_icon">
                                <div class="icon"> <a href="#"><i class="fa fa-users"></i></a>
                                </div>
                            </div>
                            <div class="count-description"> <span class="timer">60</span>+
                                <h5 class="con2">team members</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="counter_cntnt_box">
                            <div class="tb_icon">
                                <div class="icon"> <a href="#"><i class="flaticon-trophy"></i></a>
                                </div>
                            </div>
                            <div class="count-description"> <span class="timer">27</span>+
                                <h5 class="con4">awards won</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- counter wrapper end-->
    <!-- testimonial section Start -->
    <div class="testi_main_section_wrapper float_left">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ft_left_heading_wraper">
                        <h1>our testimonial</h1>

                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="testi_slider_wrapper">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="testi_slider_cont_main_wrapper">
                                    <div class="testi_slider_img">
                                        <!-- <img src="images/inner/testi_img.jpg" alt="tesi_img"> -->
                                    </div>
                                    <div class="testi_slider_img_cont">
                                        <h1>“ These People are Genius ”</h1>
                                        <p>Oyiche Sports have helped me immensely in achieving my career goals and are clear market leaders in what they do.
                                            Oyiche Sports helped me into a fantastic position at St Mirren. The CV designed for me was of the highest quality and gave me a real competitive edge over other applicants.</p>
                                        <h2><span>Tanvi S.</span>&nbsp;&nbsp;( Team Leader )</h2>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="item">
                                <div class="testi_slider_cont_main_wrapper">
                                    <div class="testi_slider_img">
                                         <img src="" alt="Testimony"> -->
                                    <!-- </div>
                                    <div class="testi_slider_img_cont">
                                        <h1>“ These People are Genius ”</h1>
                                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                                        <h2><span>Tanvi S.</span>&nbsp;&nbsp;( CEO manager )</h2>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> --> 
                            <!-- <div class="item">
                                <div class="testi_slider_cont_main_wrapper">
                                    <div class="testi_slider_img">
                                        <img src="" alt="tesi_img">
                                    </div>
                                    <div class="testi_slider_img_cont">
                                        <h1>“ These People are Genius ”</h1>
                                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                                        <h2><span>joahn Due</span>&nbsp;&nbsp;( coach )</h2>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial section End -->
    <!--trophy wrapper start-->
    <div class="trophy_wrapper float_left">
        <div class="dream_overlay"></div>
        <div class="container">
            <div class="row">

                <!-- slider start -->
                <!-- <div class="col-md-12">
                    <div class="trophy_slider">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="trophyslider_wrapper float_left">
                                    <img src="images/inner/tp1.png" alt="img" class="img-responsive">
                                    <p>2016</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="trophyslider_wrapper float_left">
                                    <img src="images/inner/tp2.png" alt="img" class="img-responsive">
                                    <p>2017-2018</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="trophyslider_wrapper float_left">
                                    <img src="images/inner/tp3.png" alt="img" class="img-responsive">
                                    <p>2014</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="trophyslider_wrapper float_left">
                                    <img src="images/inner/tp4.png" alt="img" class="img-responsive">
                                    <p>2012</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--trophy wrapper end-->
    <!--patner slider Start -->
    <!-- <div class="patner_main_section_wrapper float_left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="pn_slider_wraper">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="pn_img_wrapper">
                                    <img src="images/inner/logo01.png" alt="patner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="pn_img_wrapper">
                                    <img src="images/inner/logo02.png" alt="patner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="pn_img_wrapper">
                                    <img src="images/inner/logo03.png" alt="patner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="pn_img_wrapper">
                                    <img src="images/inner/logo04.png" alt="patner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="pn_img_wrapper">
                                    <img src="images/inner/logo05.png" alt="patner_img">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- prs patner slider End -->

    <!-- footer Wrapper start -->
    
    <!--footer wrapper end-->

    <!-- js files start -->
    {% include 'partials/_footer.html' %}

   {% endblock %}