{% extends 'base.html' %}
{% block content %}
    <!-- navi wrapper End -->
    <!-- inner Title Start -->
    <div class="indx_title_main_wrapper float_left">
        <div class="title_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 full_width">
                    <div class="indx_title_left_wrapper">
                        <h2> our Team</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 full_width">
                    <div class="indx_title_right_wrapper">
                        <ul>
                            <li><a href="index.html">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                            <li>team</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- inner Title End -->
    <!--palyer wrapper start-->
    <div class="best_player_wrapper float_left">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                    <div class="ft_left_heading_wraper">
                        <h1>best team player</h1>

                    </div>
                    <div id="tg-playerscrollbar" class="tg-players tg-playerscrollbar">
                        <div class="tg-player">
                            <div class="col-xl-6 col-lg-6 col-sm-6 col-12 pull-right">
                                <div class="tg-playcontent">
                                    <a class="tg-theme-tag" href="#">batsman</a>
                                    <h3><a href="#">Hustlin’ Owls</a></h3>
                                    <h2>08</h2>
                                    <div class="tg-description">
                                        <p>Incididunt utia labore et dolore siti magna aliqua adinim lipat</p>
                                    </div>
                                    <ul class="tg-socialicons">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"	></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-sm-6 col-12">
                                <figure>
                                    <a href="#">
                                        <img src="images/inner/img-01.png" alt="image description">
                                    </a>
                                </figure>
                            </div>
                        </div>
                        <div class="tg-player">
                            <div class="col-xl-6 col-lg-6 col-sm-6 col-12 pull-right">
                                <div class="tg-playcontent">
                                    <a class="tg-theme-tag" href="#">keeper</a>
                                    <h3><a href="#">james bond</a></h3>
                                    <h2>91</h2>
                                    <div class="tg-description">
                                        <p>Incididunt utia labore et dolore siti magna aliqua adinim lipat</p>
                                    </div>
                                    <ul class="tg-socialicons">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"	></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-sm-6 col-12">
                                <figure>
                                    <a href="#">
                                        <img src="images/inner/img-02.png" alt="image description">
                                    </a>
                                </figure>
                            </div>
                        </div>
                        <div class="tg-player">
                            <div class="col-xl-6 col-lg-6 col-sm-6 col-12 pull-right">
                                <div class="tg-playcontent">
                                    <a class="tg-theme-tag" href="#">atacker</a>
                                    <h3><a href="#">AR ashwin</a></h3>
                                    <h2>12</h2>
                                    <div class="tg-description">
                                        <p>Incididunt utia labore et dolore siti magna aliqua adinim lipat</p>
                                    </div>
                                    <ul class="tg-socialicons">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"	></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-sm-6 col-12">
                                <figure>
                                    <a href="#">
                                        <img src="images/inner/img-01.png" alt="image description">
                                    </a>
                                </figure>
                            </div>
                        </div>
                        <div class="tg-player">
                            <div class="col-xl-6 col-lg-6 col-sm-6 col-12 pull-right">
                                <div class="tg-playcontent">
                                    <a class="tg-theme-tag" href="#">bowler</a>
                                    <h3><a href="#">maliya johnson</a></h3>
                                    <h2>08</h2>
                                    <div class="tg-description">
                                        <p>Incididunt utia labore et dolore siti magna aliqua adinim lipat</p>
                                    </div>
                                    <ul class="tg-socialicons">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"	></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-sm-6 col-12">
                                <figure>
                                    <a href="#">
                                        <img src="images/inner/img-02.png" alt="image description">
                                    </a>
                                </figure>
                            </div>
                        </div>
                        <div class="tg-player">
                            <div class="col-xl-6 col-lg-6 col-sm-6 col-12 pull-right">
                                <div class="tg-playcontent">
                                    <a class="tg-theme-tag" href="#">defenders</a>
                                    <h3><a href="#">Hustlin’ Owls</a></h3>
                                    <h2>14</h2>
                                    <div class="tg-description">
                                        <p>Incididunt utia labore et dolore siti magna aliqua adinim lipat</p>
                                    </div>
                                    <ul class="tg-socialicons">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"	></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-sm-6 col-12">
                                <figure>
                                    <a href="#">
                                        <img src="images/inner/img-03.png" alt="image description">
                                    </a>
                                </figure>
                            </div>
                        </div>
                        <div class="tg-player">
                            <div class="col-xl-6 col-lg-6 col-sm-6 col-12 pull-right">
                                <div class="tg-playcontent">
                                    <a class="tg-theme-tag" href="#">batsman</a>
                                    <h3><a href="#">james bond</a></h3>
                                    <h2>22</h2>
                                    <div class="tg-description">
                                        <p>Incididunt utia labore et dolore siti magna aliqua adinim lipat</p>
                                    </div>
                                    <ul class="tg-socialicons">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-sm-6 col-12">
                                <figure>
                                    <a href="#">
                                        <img src="images/inner/img-04.png" alt="image description">
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                    <div class="play_status_wrapper">
                    <div class="ft_left_heading_wraper">
                        <h1>play status</h1>

                    </div>
                    <div class="team-best-player">

                        <div class="best-players-list tab-pane active" id="goals">
                            <a href="#" class="item">
                                <span class="number">9</span>
                                <span>Luis Hernandez</span>
                                <span class="achievement">14</span>
                            </a>
                            <a href="#" class="item">
                                <span class="number">5</span>
                                <span>akshay handge</span>
                                <span class="achievement">11</span>
                            </a>
                            <a href="#" class="item">
                                <span class="number">7</span>
                                <span>jimmy simon</span>
                                <span class="achievement">14</span>
                            </a>
                            <a href="#" class="item">
                                <span class="number">2</span>
                                <span>sachin doe</span>
                                <span class="achievement">9</span>
                            </a>
                            <a href="#" class="item">
                                <span class="number">9</span>
                                <span>james bond</span>
                                <span class="achievement">5</span>
                            </a>
                            <a href="#" class="item">
                                <span class="number">14</span>
                                <span>farhan shaikh</span>
                                <span class="achievement">3</span>
                            </a>
                            <a href="#" class="item">
                                <span class="number">2</span>
                                <span>sachin doe</span>
                                <span class="achievement">9</span>
                            </a>
                            <a href="#" class="item">
                                <span class="number">12</span>
                                <span>nick jonaes</span>
                                <span class="achievement">8</span>
                            </a>
                        </div>

						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
	 <!-- player wrapper  start -->
    <div class="player_II_wrapper float_left">
        <div class="container">
            <div class="row">

                <!-- slider start -->
                <div class="col-md-12">
                    <div class="ft_left_heading_wraper">
                        <h1>top rated player</h1>

                    </div>
                    <div class="player_II_slider float_left">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="tg-postimg">
                                    <img src="images/inner/p1.png" alt="image description">

                                    <div class="tg-img-hover">
                                        <a href="#" class="tg-theme-tag">SWEEPER</a>
                                        <div class="tg-section-heading">
                                            <h3><a href="#">Hustlin’ Owls</a></h3>
                                            <h2>11</h2>
                                            <span class="tg-stars"><span></span></span>
                                        </div>
                                        <div class="tg-description">
                                            <p>Incididunt utia labore et dolore siti magna aliqua adinim lipat</p>
                                        </div>
                                        <ul class="tg-socialicons player_2_icon">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="item">
                                <div class="tg-postimg">
                                    <img src="images/inner/p2.png" alt="image description">

                                    <div class="tg-img-hover">
                                        <a href="#" class="tg-theme-tag">batsman</a>
                                        <div class="tg-section-heading">
                                            <h3><a href="#">james bond</a></h3>
                                            <h2>22</h2>
                                            <span class="tg-stars"><span></span></span>
                                        </div>
                                        <div class="tg-description">
                                            <p>Incididunt utia labore et dolore siti magna aliqua adinim lipat</p>
                                        </div>
                                        <ul class="tg-socialicons player_2_icon">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="item">
                                <div class="tg-postimg">
                                    <img src="images/inner/p3.png" alt="image description">

                                    <div class="tg-img-hover">
                                        <a href="#" class="tg-theme-tag">atacker</a>
                                        <div class="tg-section-heading">
                                            <h3><a href="#">AR ashwin</a></h3>
                                            <h2>18</h2>
                                            <span class="tg-stars"><span></span></span>
                                        </div>
                                        <div class="tg-description">
                                            <p>Incididunt utia labore et dolore siti magna aliqua adinim lipat</p>
                                        </div>
                                        <ul class="tg-socialicons player_2_icon">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="item">
                                <div class="tg-postimg">
                                    <img src="images/inner/p4.png" alt="image description">

                                    <div class="tg-img-hover">
                                        <a href="#" class="tg-theme-tag">bowler</a>
                                        <div class="tg-section-heading">
                                            <h3><a href="#">maliya johnson</a></h3>
                                            <h2>08</h2>
                                            <span class="tg-stars"><span></span></span>
                                        </div>
                                        <div class="tg-description">
                                            <p>Incididunt utia labore et dolore siti magna aliqua adinim lipat</p>
                                        </div>
                                        <ul class="tg-socialicons player_2_icon">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- player wrapper End -->
	  <!-- bx slider wrapperStart -->
    <div class="bx_slider_wrapper float_left player_bxslider">

        <div class="wrap-album-slider">
            <ul class="album-slider">
                <li class="album-slider__item">
                    <figure class="album">
                        <div class="prs_upcom_movie_box_wrapper">
                            <div class="prs_upcom_movie_img_box">
                                <h1 class="bx_slider_text">18</h1>
                                <img src="images/football/MrAustine.jpeg" alt="movie_img" />
                                <div class="prs_upcom_movie_img_overlay"></div>
                                <div class="hs_btn_wrapper match_btn slider_bx_btn">
                                    <ul>
                                        <li><a href="#">view profile</a></li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- End album body -->
                    </figure>
                    <!-- End album -->
                </li>
                <!-- End album slider item -->
                <li class="album-slider__item">
                    <figure class="album">
                        <div class="prs_upcom_movie_box_wrapper">
                            <div class="prs_upcom_movie_img_box">
                                <h1 class="bx_slider_text">19</h1>
                                <img src="images/football/MrAustine.jpeg" alt="movie_img" />
                                <div class="prs_upcom_movie_img_overlay"></div>
                                <div class="hs_btn_wrapper match_btn slider_bx_btn">
                                    <ul>
                                        <li><a href="#">view profile</a></li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- End album body -->
                    </figure>
                    <!-- End album -->
                </li>
                <!-- End album slider item -->
                <li class="album-slider__item">
                    <figure class="album">
                        <div class="prs_upcom_movie_box_wrapper">
                            <div class="prs_upcom_movie_img_box">
                                <h1 class="bx_slider_text">20</h1>
                                <img src="images/football/MrAustine.jpeg" alt="movie_img" />
                                <div class="prs_upcom_movie_img_overlay"></div>
                                <div class="hs_btn_wrapper match_btn slider_bx_btn">
                                    <ul>
                                        <li><a href="#">view profile</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- End album body -->
                    </figure>
                    <!-- End album -->
                </li>
                <!-- End album slider item -->
                <li class="album-slider__item">
                    <figure class="album">
                        <div class="prs_upcom_movie_box_wrapper">
                            <div class="prs_upcom_movie_img_box">
                                <h1 class="bx_slider_text">21</h1>
                                <img src="images/football/MrAustine.jpeg" alt="movie_img" />
                                <div class="prs_upcom_movie_img_overlay"></div>
                                <div class="hs_btn_wrapper match_btn slider_bx_btn">
                                    <ul>
                                        <li><a href="#">view profile</a></li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- End album body -->
                    </figure>
                    <!-- End album -->
                </li>
                <!-- End album slider item -->
                <li class="album-slider__item">
                    <figure class="album">
                        <div class="prs_upcom_movie_box_wrapper">
                            <div class="prs_upcom_movie_img_box">
                                <h1 class="bx_slider_text">22</h1>
                                <img src="images/football/MrAustine.jpeg" alt="movie_img" />
                                <div class="prs_upcom_movie_img_overlay"></div>
                                <div class="hs_btn_wrapper match_btn slider_bx_btn">
                                    <ul>
                                        <li><a href="#">view profile</a></li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- End album body -->
                    </figure>
                    <!-- End album -->
                </li>
                <!-- End album slider item -->
                <li class="album-slider__item">
                    <figure class="album">
                        <div class="prs_upcom_movie_box_wrapper">
                            <div class="prs_upcom_movie_img_box">
                                <h1 class="bx_slider_text">23</h1>
                                <img src="images/football/MrAustine.jpeg" alt="movie_img" />
                                <div class="prs_upcom_movie_img_overlay"></div>
                                <div class="hs_btn_wrapper match_btn slider_bx_btn">
                                    <ul>
                                        <li><a href="#">view profile</a></li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- End album body -->
                    </figure>
                    <!-- End album -->
                </li>
                <!-- End album slider item -->
                <li class="album-slider__item">
                    <figure class="album">
                        <div class="prs_upcom_movie_box_wrapper">
                            <div class="prs_upcom_movie_img_box">
                                <h1 class="bx_slider_text">24</h1>
                                <img src="images/football/MrAustine.jpeg" alt="movie_img" />
                                <div class="prs_upcom_movie_img_overlay"></div>
                                <div class="hs_btn_wrapper match_btn slider_bx_btn">
                                    <ul>
                                        <li><a href="#">view profile</a></li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- End album body -->
                    </figure>
                    <!-- End album -->
                </li>

            </ul>
        </div>
    </div>

    <!-- bx slider Wrapper end -->
{% endblock %}